<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<title>Photo Media Logic</title>
	<link rel="stylesheet" href="/css/capture.css"></link>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="#">Photo Media</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="menu-preview"><a href="#" onclick="preview_snapshot();">Capture</a></li>
            <li id="menu-take-another" style="display:none"><a href="#" onclick="cancel_preview()">Take Another</a></li>
            <li class="divider"></li>
            <li id="menu-save" style="display:none"><a href="#" onclick="save_photo()">Save</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
	<h3 style="text-align:center">Capture Image</h3>
	<div style="width:100%" align="center">
		<div id="my_camera"></div>
	</div>
	<span id="monitor"></span>
	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="/js/webcam.js"></script>
	
	<!-- Configure a few settings and attach camera -->
	<script >
		Webcam.set({
			width: 640,
			height: 360,
			image_format: 'jpeg',
			jpeg_quality: 90,
			constraints: {
				width: { exact: 1280 },
				height: { exact: 720 }
			}
		});
		Webcam.attach( '#my_camera' );
	</script>
	
	<!-- A button for taking snaps -->
	<form style="width: 100%;text-align:center">
		<div id="pre_take_buttons">
		    <button type="button" class="btn btn-primary" onclick="preview_snapshot()">
		      <span class="glyphicon glyphicon-camera"></span> Take Snapshot 
		    </button>
		</div>
		<div id="post_take_buttons" style="display:none">
		<!--  
			<input type="button" class="btn btn-info" value="&lt; Take Another" onClick="cancel_preview()"><i class="fas fa-camera"></i></input>
			<input type="button" class="btn btn-success" value="Save Photo &gt;" onClick="save_photo()" style="font-weight:bold;"></input>
		-->
			<button type="button" class="btn btn-info" onclick="cancel_preview()">
		      <span class="glyphicon glyphicon-circle-arrow-left"></span> No, Take Another
		    </button>
			<button type="button" class="btn btn-success" onclick="save_photo()">
		      <span class="glyphicon glyphicon-cloud-upload"></span> Good..! Save This Photo
		    </button>		    
		</div>
	</form>
	</div>
	<form id="myAwesomeForm" method="POST"  action="/upload" enctype="multipart/form-data">
		<div id="results">Your captured image will appear here...</div>
	</form>	
	<!-- Code to handle taking the snapshot and displaying it locally -->
	<script type="text/javascript" src="/js/capture.js"></script>
	<script type="text/javascript" src="/js/landing.js"></script>
	<p></p>	
	<div class="footer">
	  <p><small>© <b>Photo Media Logic</b></small></p>
	</div>
</body>
</html>