<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="//rawgit.com/enyo/dropzone/master/dist/dropzone.css"></link>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
	<title>Photo Media Logic</title>
	<link rel="stylesheet" href="/css/capture.css"></link>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="#">Photo Media Logic</a>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="menu-preview"><a href="/">Camera</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>

<div class="container">
	<h3 style="text-align:center">Capture Image</h3>
	<div style="width:100%" align="center">
	<!-- Change /upload-target to your upload address -->
	<form action="/upload" class="dropzone"></form>
	</div>
</div>
<div class="footer" style="position:fixed">
  <p><small>© <b>Photo Media Logic</b></small></p>
</div>
</body>
</html>
